# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.Python
build/
dist/
*.egg

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Database files
*.sqlite
*.sqlite3
*.db

# IDE files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.temp
